main{
}
.centralizar-events{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
#imagem-background{
  background-image: url(../Img/paginaEvents/img-20180218-170332851-hdr-scaled.jpg);
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  position: relative;
  z-index: -2;
}
#imagem-background h1{
  position: absolute;
  width: 470px;
  left: 100px;
  top: 200px;
  color: #F62F00;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.sumir {
  opacity: 0; /* Torna o elemento invisível */
  transform: scale(0.9); /* Diminui levemente o tamanho para um efeito mais natural */
}
.overlay{
  align-self:self-end;
  width: 100%;
  height: 20%;
  background-image: linear-gradient(to top, #fff 0%, rgba(0, 0, 255, 0) 100%);
  z-index: -1;
}
#todos-eventos{
  display: grid;
  overflow: hidden;
  /* width: ; */
  gap: 50px;
}
.eventos{
  display: flex;
  flex-direction: column;
  background: none;
  padding: 20px;
  padding-right: 0;
  gap: 50px;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}

.botoes{
  display: flex;
  gap: 20px;
  margin-right: 3%;
}
.botoes button {
  background: none;
  border: none;
  cursor: pointer;
 
}
.events-carrossel{
  display: grid;
  grid-gap: 16px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;
}

.evento-div{
  display: grid;
  gap: 20px;
}
.evento-div-descricao{
  display: grid;
  gap: 5px;
}
.data ,.localizacao{
  font-size: 16px;
  color: #822b1bfa;
}
.titulo{
  font-family: "Aeonik-bold";
  color: #F62F00;
  font-size: 20px;
}