section {
  background: #f7f7f7;
  /* height: 60%; */
  padding-top: 20px;
  padding-bottom: 20px;
}
section h2 {
  color: #f62f00;
}
#Events {
  display: flex;
  justify-content: space-between;
}
#botoes {
  display: flex;
  gap: 20px;
  align-self: center;
}
#carrossel-eventinhos {
  display: flex;
  max-width: 1000px;
  gap: 6.3%;
  /* height: 280px; */
  /* width: min-content; */
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* width: 100%; */
}
.eventinho {
  display: grid;
  gap: 10px;
  flex: 0 0 20%;
  scroll-snap-align: start;
  /* margin-right: 20px; */
  justify-content: left;
  box-sizing: border-box;
  padding: 4px;
  transition: transform 0.5s ease-in-out;
}
#descricao-eventinho{
  display: grid;
  gap: 10px;
}
.eventinho img {
  /* flex: 1 0 100%; */
  border-radius: 5px;
  width: 195px;
  height: 110px;
}
.eventinho p {
  font-family: "Aeonik-bold";
  font-size: 16px;
  max-width: 20ch;
  text-align: left;
  /* text-transform: uppercase; */
  color: #f62f00;
}
.eventinho span {
  color: #822b1bfa;
  text-align: left;
  font-size: 13px;
  max-width: 25ch;
}
.data{
  font-size: 12px;
  font-family: "Aeonik-bold";
}
#botoes button {
  background: none;
  border: none;
  cursor: pointer;
}
#more-options{
  display: grid;
}
